{% extends 'base/base_template.html' %}
{% load static %}
{% block content %}
         
{% include 'dashboard/sidebar.html' %}


<div class="content-page">
	 {% include 'dashboard/topbar.html' %}
	<div class="container-fulid">
		<div class="bg-whites">
		<div class="row ">
			<div class="col-md-12">
				
				<div class="text-center">
					<img src="{% static 'images/15.svg' %}" class="logos">
                    <h1 class="paid">Your plan has expired</h1>
                  <p class="need">Your plan has expired!<br>You need to subscribe to a plan to continue using it.</p>
				</div>
				<div class="text-center mb-5 mt-3 ">
					<a href="{% url 'my_plan_app:my_plan_view' %}">
  <button class="btn cancel" > SUBSCRIBE</button></a>
    
</div>
			</div>
		</div>
			</div>
			</div>
		</div>
{% endblock %}

	





















<?php include ( 'include/footer-script.php')?>