{% extends 'base/base_template.html' %}
{% load static %}
{% block content %}
<style type="">
    span.launch a{
    color: #fff!important;
  }


.steps li > span:after, .steps li > span:before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0;
    left: -60px!important;
    border: solid transparent;
    border-left-color: #fff;
    border-width: 30px;
    transform: rotate(
180deg)!important;
}
.steps .past {
    background: #065464!important;
}
.steps li > span:before {
    z-index: -1!important;
}
.steps .present{
  background: #fff!important;
}
  .form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-control-placeholder {
    position: absolute;
    top: 7px;
    padding: 10px 0 0 0px;
    transition: all 200ms;
    opacity: 0.5;
    background: white;
    left: 38px;
}

.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
  font-size: 75%;
  transform: translate3d(0, -100%, 0);
  opacity: 1;
}
</style>
<div class="banner ">
    <div class="container">
        <div class="bg-white">
            <div class="row ">
                <div class="col-md-6">
                    <div class="text-center">
                        <img src="{% static 'images/side-img.png' %}" class="logo-signn">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-padding">
                        <div class="text-center mb-3">
                            <img src="{% static 'images/Group201.png' %}">
                        </div>
                        <div class="text-center mb-4 mt-2">
                            <h1 class="login-clr">Reset Password</h1>
                        </div>
                        <form class="form" action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <!--   <i class="fa fa-envelope" aria-hidden="true"></i> -->
                                <input type="password" name="new_password1" class="form-control color" required>
                                <label class="form-control-placeholder" for="New Password">New Password</label>
                                {% for error in form.errors.new_password1 %}
                                <small class="text-danger">
                                    {{ error }}
                                </small>
                                {% endfor %}
                            </div>
                            <div class="form-group"> 
                                <input type="password" name="new_password2" class="form-control color" required>
                                <label class="form-control-placeholder" for="Password">Confirm Password</label>
                                {% for error in form.errors.new_password2 %}
                                <small class="text-danger">
                                    {{ error }}
                                </small>
                                {% endfor %}
                            </div>
                            <div class="mt-4">
                                <button type="submit" class="btn submit">CONTINUE</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}